/* variables */

:root {
  --font-family: Inter;
  --color-violet-500: #7f3dff;
  --color-violet-400: #8f57ff;
  --color-violet-300: #b18aff;
  --color-violet-200: #d3bdff;
  --color-violet-100: #eee5ff;
  --color-red-500: #fd3c4a;
  --color-blue-500: #0077ff;
  --color-green-500: #00a86b;
  /* light palette colors */
  --color-light-500: #ffffff;
  --color-light-400: #fcfcfc;
  --color-light-300: #f1f1fa;
  --color-light-200: #e3e5e5;
  --color-light-100: #919191;

  /* font styles */
  --font-title1: 2em/1.938 /* 32/31 */
  --font-title2: 1.5em /* 18/auto */
  --font-title3: 1.125em /* 24/auto */
  --font-titlex: 4em/5 /* 64/80 */
  --font-body1: 0.875em/1.125 /* 14/18 */
  --font-body2: 1em /* 16/auto */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/*reset*/
/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
/* dark mode user-agent-styles */
html {
  height: 100%;

  color-scheme: dark light;
}
/* min body height */
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
