.wrapper {
  height: calc(100vh - 5rem);
  margin-inline: auto;
  margin-top: 10%;
  justify-content: center;
}

.balance {
  display: flex;
  flex-direction: column;

  & h3 {
    margin-inline: auto;
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    color: var(--color-light-200);
  }
  & h1 {
    margin-inline: auto;
    font-size: var(--fs-900);
    font-weight: var(--fw-700);
  }
}

.buttons {
  margin-block: 5rem;
  margin-inline: 10rem;
  display: flex;
  justify-content: space-evenly;

  button {
    padding: 1.5rem 6rem;
  }
  button:nth-of-type(1) {
    color: var(--color-light-400);
    font-weight: var(--fw-700);
    background-color: var(--color-green);
  }
  button:nth-of-type(2) {
    color: var(--color-light-400);
    font-weight: var(--fw-700);
    background-color: var(--color-red);
  }
}

.transactionsWrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  gap: 3rem;
  div:nth-of-type(even) {
    justify-self: right;
  }
  button {
    justify-self: right;
  }
}
