.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;
  @media (max-width: 1200px) {
    margin-top: 10%;
  }
  @media (max-width: 900px) {
    margin-top: 20%;
  }

  p {
    color: var(--color-violet-400);
    margin-inline: auto;
    margin-block: 2rem;
    font-size: var(--fs-200);
  }
  h3 {
    color: var(--color-violet-400);
    margin-inline: auto;
    margin-block: 2rem;
  }
}

.category {
  display: flex;
  margin-inline: auto;
  margin-block: 3rem;
  min-width: 30%;
  flex-direction: column;
  gap: 2rem;
}

.createButton {
  display: block;
  margin-inline: auto;
  color: var(--color-light-500);
}
.arrow {
  position: absolute;
  /* background-color: red; */
  left: 20%;
  top: 15%;
  cursor: pointer;
  color: var(--color-light-200);
}
