.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: center;

  @media (max-width: 1200px) {
    margin-top: 10%;
  }
  @media (max-width: 900px) {
    margin-top: 20%;
  }
}

.amount {
  margin-inline: auto;
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
  color: var(--color-red);
}

.inputs {
  display: flex;
  margin-inline: auto;
  margin-block: 3rem;
  min-width: 30%;
  flex-direction: column;
  gap: 2rem;
}

.button {
  margin-inline: auto;
  margin-bottom: 2rem;
}
