.sidebar_paper {
  background-color: var(--color-light-500);
  /* background-color: red; */
  min-width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  margin-inline: auto;
  margin-top: 1rem;
  div {
    height: 5rem;
    width: 5rem;
  }
}

.sidebar_link {
  color: var(--color-violet-400);
  margin: 0.5rem;
  &:focus {
    background-color: var(--color-violet-400);
    color: var(--color-light-500);
    border-radius: 20px;
  }
}
